[alias]
    st = status
    br = branch
    ci = commit --no-verify
    out = push --tags
    in = pull --rebase# --summary
    unadd = reset HEAD
    type = cat-file -t
    dump = cat-file -p
    hi = log --pretty=format:'%h | %ad | %s%d [%an]' --date=short
    hime = log --pretty=format:'%h | %ad | %s' --date=short --author=hein
    hime7 = log --pretty=format:'%h | %ad | %s' --date=short --author=hein --since='7 days ago'
    praise = blame
    ra = rm `git status | grep deleted | awk '{print $3}'`
    append = commit --amend --no-edit

[core]
    excludesfile = ~/.gitignore
    filemode = false
    editor = vim

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[user]
    name = Hein Haraldson Berg
    email = hein@hu.ma

[push]
    default = current

[pull]
    default = current

[merge]
    conflictstyle = diff3
